

header {
  background-color: #96b2bc;
  overflow: hidden;
}

header #logo{
  float: left;
  margin-right: 40px;
  margin-top: 15px;

}


header li{
list-style: none;
display: inline;
float: right;
padding-top: 25px;
padding-right: 10px;

}
.sub-menu-parent { position: relative; }

.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition-delay: 0s, 0s, 0.3s;
}


body {font: 18px/1.4 sans-serif; }

nav a { color: black; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #96B2BC; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: #EEE; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
  background: #DDD;
}



.container-search{
  float: right;
  margin:  20px 25px;
}

.container-search #search{
  text-transform: uppercase;
  margin-left: 50px;
  text-align: center;
}


.container-sort a{
  float: left;
  text-decoration: none;
  border: 1px solid gray;
 padding: 2px 60px;
 margin-top: 20px;
 margin-left: 10px;
 text-transform: uppercase;
 color: black;
 background-color: #eee;
}

.productseperator{
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px;
  width: 240px;
}



.flexwrap{
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

}
.book{
  text-transform: uppercase;
  width: 80%;
  overflow: hidden;
}

.bookimage {
margin: 25px  15px;

  float: left;

}

.bookinfo{
  width: 60%;
  float: left;
}


.footer {
background-color: #96b2bc;
clear: both;
text-align: center;
overflow: hidden;
padding:22px;
}

.footer li{
  list-style: none;
  display: inline-block;
  text-transform: uppercase;

}

.footer a{
  text-decoration: none;
  padding:10px;
  color: black;
  display: block;

}

.footer a:hover{
  color: white;
}

@media query (min-device-width: 375px) and (max-device-width: 766px){
.heroimage{
  display: none;
}


}

@media (min-width: 767px) and (max-width: 1024px){
body{
  background: url(https://images7.alphacoders.com/694/thumb-350-694702.jpg);
  background-size: contain;}

  .book{
    width: 45%;
  }

  .bookinfo{
    width: 55%;
  }


 header li{
padding: 20px;
 }

.container-sort {
   margin-left: 30px;
}

.flexwrap{
  background-color: #eee;
  justify-content:space-between;
  margin-left: 40px;
  padding: 20px;
  margin-right: 45px;

}
}


@media (min-width: 1025px) and (max-width: 1600px){
  body{
    background: url(https://images7.alphacoders.com/694/thumb-350-694702.jpg);
    background-size: contain;
  }

  .book{
    width: 33%;
  }

  .bookinfo{
    width: 55%;
  }


 header li{
padding: 20px;
 }

.container-sort {
   margin-left: 30px;
}

.flexwrap{
  background-color: #eee;
  justify-content:space-between;
  margin-left: 40px;
  padding: 20px;
  margin-right: 45px;

}
}
